<html lang='en-US'>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>LOAN TERM SHEET</title>
	<style>
		body{ margin:50px;  font-family:Arial, Helvetica, sans-serif; color:#000; font-size:13px;}

		a{ text-decoration:none; color:#000; display:inline-block;}
		a:hover{ text-decoration:underline;}
		.page-content{ width:600px; margin:0px auto; padding:20px;}

		h2 { font-size:20px; text-align:center;}
		p { font-size:14px; margin-bottom:10px;}
		table { margin:1em auto; }
		.date { font-size:14px; margin-bottom:10px; text-align:right;}
		.signature { margin-top:0px;margin-bottom:0px; }
		.table-Content{ padding:0px;}
		.table-Content table.sec1{ border:solid 1px #52719f; text-align:center; margin-top:20px; border-bottom:none;}
		.table-Content table.sec1 th{ background:#e4eaf4; padding:5px; border-right:solid 1px #52719f;font-size:12px;font-family:Arial, Helvetica, sans-serif;}
		.table-Content table.sec1 td{ border-bottom:solid 1px #52719f; padding:5px; border-right:solid 1px #52719f;}

		.tablediv {text-align:center; margin:0 auto; display:table;}
		.table-content table { border-collapse: separate !important; font-size:13px;}
  	</style>
</head>
<body>
	<div class='page-content' id='banner'>
		<div class='header'>
			<img src='<%=logo%>' alt='logo' style='width:100px;'>
			<div class='date'><%=today%></div>
			<p>&nbsp; </p>
			<h2>LOAN TERM SHEET</h2>
		</div>

		<p> This term sheet is a basic outline of the terms and conditions currently being considered based on the initial information provided. This is not a commitment to lend, but merely an expression of our interest in providing the aforementioned financing request. The terms and conditions are subject to change in whole or in part at any time during the process including and up to the time that our due diligence, credit analysis and underwriting is complete. </p>

		<p><strong>Borrower(s): </strong><%=borrower%></p>
		<p><strong>Guarantor(s): </strong><%=guarantor%></p>

		<div class='tablediv'>
			<table width='100%' border='1' cellspacing='0' cellpadding='4'>
				<tr>
					<td>Property Address (collateral)</td>
					<td><%=propertyaddress%></td>
				</tr>
				<tr>
					<td>Loan Amount</td>
					<td><%=loan_amount%></td>
				</tr>
				<tr>
					<td>LTV %</td>
					<td><%=ltv%></td>
				</tr>
				<tr>
					<td>Loan Purpose</td>
					<td><%=purpose%></td>
				</tr>
				<tr>
					<td>Term</td>
					<td><%=programe%></td>
				</tr>
				<tr>
					<td>Amortization</td>
					<td><%=term%> Years</td>
				</tr>
				<tr>
					<td>Interest Rate</td>
					<td><%=rate%></td>
				</tr>
				<tr>
					<td>Estimated Monthly Payment (P&amp;I payment)</td>
					<td>$<%=est%></td>
				</tr>
				<tr>
					<td>Broker Fee</td>
					<td>$<%=brokerfee%></td>
				</tr>
				<tr>
					<td>Rate Buy Down Points</td>
					<td><%=rate_buydown%></td>
				</tr>
				<tr>
					<td>Prepay</td>
					<td><%=prepay_buydown%></td>
				</tr>
			</table>
		</div>
		<p>&nbsp;</p>

		<p>Again, this is a term sheet and not a commitment to lend. These terms and conditions are subject to change. Please note that this outline does not contain all of the terms, conditions, fees and other provisions involved in this transaction that would be more fully described in the definitive legal document(s) for the proposed transaction. </p>
		<p>Should you wish to request Silver Hill Funding to proceed with issuing a formal Letter of Intent under the general terms and conditions outlined herein in this non-binding term sheet, please submit the underwriting documents requested on the following page within seven (7) calendar days of the effective date of this letter.</p>

		<p>By submitting the documents below I/we desire to proceed with this transaction to obtain a Letter of Intent for pre-approved terms. I/we understand that I/we must provide additional documentation and information within the prescribed timelines. </p>

		<p>To begin the processing of your loan application, submit the following documents:</p>
		<ul>
			<li>Fully completed and signed application. Find our loan application here <a target="_blank" style="color: blue" href="https://silverhillfunding.com/wp-content/uploads/2019/07/SHF-Loan-Application-V12-6.pdf">https://goo.gl/ExCMPM</a></li>
			<li>Tri-Merge Credit Report dated within 60 days of submission.</li>
			<li>If Purchase, fully executed Purchase and Sale Contract with all Amendments, Schedules, and Signatures.</li>
		</ul>

		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>

		<p class='signature'><strong>Sincerely,</strong></p>

		<br />

		<p class='signature'><strong>Silver Hill Funding</strong></p>
		<p class='signature'><strong>4425 Ponce De Leon Blvd. Ste. 250 </strong></p>
		<p class='signature'><strong>Coral Gables, FL 33146</strong></p>
		<p class='signature'><strong>Telephone: 877-857-2652</strong></p>
		<p class='signature'><strong>Email: info@silverhillfunding.com</strong></p>
		<p class='signature'><strong>Web: www.silverhillfunding.com</strong></p>
	</div>
</body>
</html>