<h1 class="page-title">Blog Category</h1>
<div class="content-modification">
  <form action="/adminaccess/blogcategories" method="get" class="search-form">
    <input type="search" id="search" name="search" value="<%= search || '' %>">
    <button type="submit" class="btn btn-outline btn-search">Search</button>
  </form>
  <a href="javascript:void()" id="deleteBtn" class="btn btn-outline disable btn-delete">Delete</a>
  <a href="/adminaccess/blogcategory/create" class="btn btn-add">New Category</a>
</div>
<div class="table-holder">
  <table class="data-table">
    <colgroup>
      <col class="col-1">
      <col class="col-2">
      <col class="col-3">
      <col class="col-4">
    </colgroup>
    <thead>
    <tr>
      <th>&nbsp;</th>
      <th onclick="handleSort('name')">
        <span class="<%= sort.startsWith("name") ? 'sort' : '' %>">Category Title
          <% if(sort.startsWith('name')){ %>
          <i class="icon-holder <%= sort == "name" ? 'icon-arrow-down' : 'icon-arrow-up' %> "></i>
          <% } %>
        </span>
      </th>
      <th onclick="handleSort('author')">
        <span class="<%= sort.startsWith("author") ? 'sort' : '' %>">Author
          <% if(sort.startsWith('author')){ %>
          <i class="icon-holder <%= sort == "author" ? 'icon-arrow-down' : 'icon-arrow-up' %> "></i>
          <% } %>
        </span>
      </th>
      <th onclick="handleSort('createdAt')">
        <span class="<%= sort.startsWith("createdAt") ? 'sort' : '' %>">Created
          <% if(sort.startsWith('createdAt')){ %>
          <i class="icon-holder <%= sort == "createdAt" ? 'icon-arrow-down' : 'icon-arrow-up' %> "></i>
          <% } %>
        </span>
      </th>
      <th><span>Action</span></th>
    </tr>
    </thead>
    <tbody>

    <% _.each(blogCategories, function(blogCategory) { %>

    <tr id="row_<%= blogCategory.id %>">
      <td><input type="checkbox" onclick="onCheckChange(this, '<%= blogCategory.id %>')"></td>
      <td>
        <span class="title"><%= blogCategory.name %></span>
      </td>
      <td><%= blogCategory.author ? blogCategory.author.name : '' %></td>
      <td> <%=: blogCategory.createdAt | formatDate %></td>
      <td>
        <a href="/adminaccess/blogcategory/edit/<%= blogCategory.id %>">Edit</a>
        <a href="javascript:deleteRecord('<%= blogCategory.id %>')">Delete</a>
      </td>
    </tr>
    <% }) %>
    </tbody>
  </table>
</div>


<% include ../pagination.ejs %>

<script>

  var selectedIds = [];
  var sort = '<%- sort %>';

  onCheckChange = function (cb, id) {
    if (cb.checked) {
      $('#row_' + id).addClass("selected");
      selectedIds.push(id);
    } else {
      $('#row_' + id).removeClass("selected");
      var index = selectedIds.indexOf(id);
      selectedIds.splice(index, 1);
    }

    if (selectedIds.length > 0) {
      $("#deleteBtn").removeClass("disable")
      $("#deleteBtn").bind('click', onDeleteClick);
    } else {
      $("#deleteBtn").addClass("disable")
      $("#deleteBtn").unbind('click');
    }

  }

  onDeleteClick = function (e) {
    e.preventDefault();
    if (window.confirm('Are you sure you want to delete?')) {
      handleAction("delete")
    }
  }

  onPublishClick = function (e) {
    e.preventDefault();
    handleAction("publish");
  }

  handleAction = function (action) {
    var newLocation = "/adminaccess/blogcategory/" + action + "?";

    if (selectedIds.length > 0) {
      var searchText = $('#search').val();
      if (searchText) {
        newLocation += 'search=' + searchText;
      }

      selectedIds.forEach(function (ids) {
        newLocation += "&id=" + ids;
      })
      window.location = newLocation;
    }
  }

  handlePageChange = function (event, pageNo) {
    var newLocation = "/adminaccess/blogcategories?";

    var searchText = $('#search').val();
    if (searchText) {
      newLocation += 'search=' + searchText + "&";
    }
    newLocation += "page=" + pageNo;
    window.location = newLocation;
  }

  handleSort = function (newSort) {
    var newLocation = "/adminaccess/blogcategories?";
    var searchText = $('#search').val();
    if (searchText) {
      newLocation += 'search=' + searchText + "&";
    }
    newLocation += "sort=" + newSort;
    if (newSort == sort) {
      newLocation += " desc";
    }
    window.location = newLocation;
  }

  deleteRecord = function (id) {
    if (window.confirm('Are you sure you want to delete?')) {
      var url = '/adminaccess/blogcategory/delete?';
      var search = '<%- search %>';
      if (search) {
        url += 'search=' + search + '&';
      }
      url += 'id=' + id;
      window.location = url;
    }
  }

</script>
