<!DOCTYPE html>
<html lang="en">
<head>
<!-- Global site tag (gtag.js) - Google Analytics -->

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-66714201-1"></script>

<script>

  window.dataLayer = window.dataLayer || [];

  function gtag(){dataLayer.push(arguments);}

  gtag('js', new Date());

 

  gtag('config', 'UA-66714201-1');

</script>
  <% if (settings.env === 'production') { %>
  <!-- Google Tag Manager -->
  <script>(function (w, d, s, l, i) {
      w[l] = w[l] || [];
      w[l].push({
        'gtm.start': new Date().getTime(),
        event: 'gtm.js'
      });
      var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
      j.async = true;
      j.src =
        'https://www.googletagmanager.com/gtm.js?id=' + i + dl + '&gtm_auth=ZkSR3eqIInvr2DcuJ6dsAA&gtm_preview=env-2&gtm_cookies_win=x';
      f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-MGCW997');</script>
  <!-- End Google Tag Manager -->
  <% } %>

  <title>  <%=  locals.pageTitle  || "Silver Hill Funding" %>  </title>
  <!-- Viewport mobile tag for sensible mobile support -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="shortcut icon" href="/images/frontend/favicon.png">
  <meta name="keywords" content="<%= locals.keywords || 'Silver Hill Funding' %>">
  <meta name="tags" content="<%= locals.tags || 'Silver Hill Funding' %>">
  <meta name="title" content="<%= locals.title || 'Silver Hill Funding' %>">
  <meta name="author" content="<%= locals.author || 'Silver Hill Funding' %>">
  <!--
      Stylesheets and Preprocessors
      ==============================

      You can always bring in CSS files manually with `<link>` tags, or asynchronously
      using a solution like AMD (RequireJS).  Or, if you like, you can take advantage
      of Sails' conventional asset pipeline (boilerplate Gruntfile).

      By default, stylesheets from your `assets/styles` folder are included
      here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
      are supported. In production, your styles will be minified and concatenated into
      a single file.

      To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
      For example, here are a few things you could do:

          + Change the order of your CSS files
          + Import stylesheets from other directories
          + Use a different or additional preprocessor, like SASS, SCSS or Stylus
  -->
  <link rel="canonical" href="<%=: req.path | appendAppUrl %>"/>
  <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,300i,400,400i,600,600i,700,700i,800,800i,900"
        rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

  <link rel="stylesheet" href="/styles/frontend/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/frontend/slick.css">
  <link rel="stylesheet" href="/styles/frontend/slick-theme.css">
  <link rel="stylesheet" href="/styles/frontend/main.css?x=1">
  <% if (settings.env === 'production') { %>
    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "Organization",
        "name": "Commercial Direct",
        "url": "https://commercialdirect.com",
          "logo": "https://commercialdirect.com/images/admin/cd-logo.png",
        "contactPoint": [{
          "@type": "ContactPoint",
          "telephone": "+1-844-346-2913",
          "contactType": "customer service"
        }],
        "sameAs": [
          "https://www.facebook.com/CommercialDirectLending/",
          "https://twitter.com/CommDirectLoans",
          "https://www.youtube.com/channel/UCzXoV851O4pxDnuWQ7KGfug"
        ]
      }
    </script>
  <% } %>

</head>

<body <%= req.path == "/" ? 'class=home' : 'class=home' %>>

<% if (settings.env === 'production') { %>
<!-- Google Tag Manager (noscript) -->
<noscript>
  <iframe
    src="https://www.googletagmanager.com/ns.html?id=GTM-MGCW997&gtm_auth=ZkSR3eqIInvr2DcuJ6dsAA&gtm_preview=env-2&gtm_cookies_win=x"
    height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->
<% } %>
<div id="wrapper">

  <% include ./header.ejs %>

  <%- body %>


  <!--
      Client-side Templates
      ========================

      HTML templates are important prerequisites of modern, rich client applications.
      To work their magic, frameworks like Backbone, Angular, Ember, and Knockout require
      that you load these templates client-side.

      By default, your Gruntfile is configured to automatically load and precompile
      client-side JST templates in your `assets/templates` folder, then
      include them here automatically (between TEMPLATES and TEMPLATES END).

      To customize this behavior to fit your needs, just edit `tasks/pipeline.js`.
      For example, here are a few things you could do:

          + Import templates from other directories
          + Use a different template engine (handlebars, jade, dust, etc.)
          + Internationalize your client-side templates using a server-side
            stringfile before they're served.
  -->


  <!--

    Client-side Javascript
    ========================

    You can always bring in JS files manually with `script` tags, or asynchronously
    on the client using a solution like AMD (RequireJS).  Or, if you like, you can
    take advantage of Sails' conventional asset pipeline (boilerplate Gruntfile).

    By default, files in your `assets/js` folder are included here
    automatically (between SCRIPTS and SCRIPTS END).  Both JavaScript (.js) and
    CoffeeScript (.coffee) are supported. In production, your scripts will be minified
    and concatenated into a single file.

    To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
    For example, here are a few things you could do:

        + Change the order of your scripts
        + Import scripts from other directories
        + Use a different preprocessor, like TypeScript

  -->
  <% include ./footer.ejs %>

</div>
<script>
  var navigationUrl = '<%= navigationUrl %>';
</script>
<script src="/js/jquery-1.11.2.min.js"></script>
<script src="/js/jquery-ui.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.form.min.js"></script>
<script src="/js/autoNumeric.min.js"></script>
<!-- <script src="/js/frontend/jquery.main.js"></script> -->
<script src="/js/jquery-mask.js"></script>
<script src="/js/new/accounting.js"></script>
<script src="/js/new/jquery.validate.min.js"></script>
<script src="/js/new/slick.min.js"></script>
<script src="/js/new/newapp.js"></script>


</body>
</html>
