<div class="application-content">
  <div class="application-header">
    <h2>5. Employment Information</h2>
    <p>(It will take 3 minutes to complete)</p>
  </div>
  <form id="employmentInfoForm" action="/application/employment-info" method="post" class="result-form">
    <h3>Borrower</h3>
    <div class="row flex-row">
        <input type="hidden" value=true id="hiddenStatus" name="isSubmitted" />
      <div class="col-xs-12 col-sm-6">
        <div class="form-group">
          <label for="self_emp">Self Employed</label>
          <div class="select-wrap">
            <select name="selfEmployed" id="self_emp" required>
              <option value="" class="hidden">Choose</option>
              <option <%= application.selfEmployed == 'Yes' ? 'selected' : '' %>>Yes</option>
              <option <%= application.selfEmployed == 'No' ? 'selected' : '' %>>No</option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="form-group">
          <label for="job_years">Years on the Job:</label>
          <input id="job_years" name="yearsOnJob" value="<%= application.yearsOnJob || '' %>" type="text"
                 class="form-control" required>
        </div>
      </div>
      <% if(noOfCoBorrowers && noOfCoBorrowers > 0 ){ %>
      <% for (var i = 1; i <= noOfCoBorrowers; i++){ %>
      <div class="col-xs-12">
        <div class="form-seperator">
          <h3>Co-Borrower <%= i > 1 ? i : '' %></h3>
          <div class="row">
            <div class="col-xs-12 col-sm-6">
              <div class="form-group">
                <label for="self_emp_1">Self Employed</label>
                <div class="select-wrap">
                  <select name="coBorrower<%= i %>SelfEmployed" id="self_emp_1" required>
                    <option value="" class="hidden">Choose</option>
                    <option <%= application['coBorrower' + i + 'SelfEmployed'] == 'Yes' ? 'selected' : '' %>>Yes
                    </option>
                    <option <%= application['coBorrower' + i + 'SelfEmployed'] == 'No' ? 'selected' : '' %>>No
                    </option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6">
              <div class="form-group">
                <label for="job_years_1">Years on the Job:</label>
                <input id="job_years_1" name="coBorrower<%= i %>YearsOnJob"
                       value="<%= application['coBorrower' + i + 'YearsOnJob'] || '' %>" type="text"
                       class="form-control" required>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% } %>
      <% } %>

    </div>
    <div class="recalculate-button">
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <a href="/application/business-info" class="btn btn-outline">Back</a>
        </div>
        <div class="col-xs-12 col-sm-6">
          <input type="hidden" name="progress" value="<%= progress %>"/>
          <button type="submit" class="btn btn-default">Save and Continue</button>
        </div>
      </div>
    </div>
  </form>
</div>


<script>
  window.onload = function (e) {

    $("#employmentInfoForm").validate({
      messages :{
        yearsOnJob :"",
        coBorrowerYearsOnJob :"",
      },
      errorPlacement: function (error, element) {
        if ($(element).is('select')) {
          element.next().after(error); // special placement for select elements
        }
        else if ($(element).is('radio')) {
          error.insertAfter(element);
        }
        else {
          error.insertAfter(element);  // default placement for everything else
        }
      },
      // Make sure the form is submitted to the destination defined
      // in the "action" attribute of the form when valid
      submitHandler: function (form) {
        form.submit();
        $("#pleasewait").css('display', 'block');
      }
    });
  }
</script>

